h1 {
    color: red;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: flex;
}

.success {
    color: green;
}

.fail {
    color: red;
}

.notyet {
    color: grey;
}